.red-file-item {
    text-wrap: nowrap;
}

.red-file-item:hover { 
    background-color: #198754;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);
    position:fixed;
    background-color: #858585;
}

.red-dropdown-menu {
    position: fixed !important;
    top: 0 !important;
}

.red-files-navbar {
    overflow-y: auto;
    overflow-x: hidden;
    width: 15vw;
}

main {
    height: 80vh;
    height: -webkit-fill-available;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.red-navbar-b {
    height: 4vh;
}

.red-navbar-t {
    height: 6vh;
}
