.file_item:hover { 
    background-color: #94eb98;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);
    position:fixed;
    background-color: #858585;
}

