{% extends "base.html" %}

{% block header %}

    <script>
        var require = { paths: { vs: '/static/node_modules/monaco-editor/min/vs' } };
    </script>

    <link rel="stylesheet" href="/static/node_modules/monaco-editor/min/vs/editor/editor.main.css">
    <script src="/static/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/static/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="/static/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>

    <link rel="stylesheet" href="/static/home.css">

{% endblock header%}

{% block content %}

    <div class="overlay" id="loading_layout" hidden>
        <div class="position-absolute top-50 start-50 translate-middle"> 
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden"></span>
        </div>
        </div>
    </div>

    <!-- New file modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create new file</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="lbl_new_filename" class="form-label">Filename</label>
                        <input type="text" class="form-control" id="new_filename" aria-describedby="new_filename">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="loading_call('new_file')">Create</button>
                </div>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="directory" width="16" height="16">
        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
      </symbol>
      <symbol id="file" width="16" height="16">
        <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
      </symbol>
    </svg>

    <nav class="navbar bg-dark border-bottom border-bottom-dark fix-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">Red Ssh</a>
                
            <form class="d-flex" action="/logout" method="post" >
                <button class="btn btn-outline-success btn-sm" type="submit" name="logout">Logout</button>
            </form>
        </div>
    </nav>

    <div class="row">
        <!-- add it latter border-right border -->
        <div class="sidebar col-md-1 navbar-nav-scroll bg-body-tertiary" id="div_files">
            <ul class="nav flex-column" id="ul_files"></ul>
        </div>

        <div class="col-md-11" id="tabs_div">
            <div class="row">
                <div class="col-sm-11">
                    <ul class="nav nav-tabs" id="open_files_nav" role="tablist"></ul>
                </div>

                <div class="dropdown col-sm-1">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">New File</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="open_files_tab"></div>
        </div> 
    </div>
    </div>

    <nav class="navbar bg-dark border-bottom border-bottom-dark fixed-bottom" data-bs-theme="dark">
        <p >Connected to {{host}} as {{user}}.</p>
    </nav>

{% endblock content %}


{% block scripts %}

<script> 
    $(document).ready(function(){
        var files = []; 
        {% for pair in files %} 
            files.push({
                name: '{{pair.name}}', 
                type: '{{pair.type}}',
                uuid: '{{pair.uuid}}'
            });
        {% endfor %}
        update_div_files(files);
    });

    function update_div_files(files){
        var new_content = '';
        files.forEach((file) => {
            if( file['type'] == 'directory' ){
                new_content += build_file_li({
                    'to_call': 'change_directory',
                    'icon': '#directory',
                }, file);
            }else{
                new_content += build_file_li({
                    'class': 'link-secondary',
                    'to_call': 'open_file',
                    'icon': '#file',
                }, file);
            }
        });
        $('#ul_files').html(new_content);
    }

    function build_file_li(config, file){
        return `<li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 icon-link icon-link-hover ${config['class']} file_item" 
            href="javascript:loading_call('${config['to_call']}', '${file['uuid']}')">
        <svg class="bi" width="16" height="16"><use xlink:href="${config['icon']}"/></svg>
        ${file['name']}
        </a>
        </li>`;

    }

    function open_file(uuid){
        if( is_already_open(uuid) ){ 
            return;
        }
        ajax_call({
            data: {'file_uuid': uuid},
            url: 'open_file',
            success: load_file,
        });
    }

    function is_already_open(uuid){
        var editor_open = $(`#tab_file_${uuid}`);
        if( editor_open.length > 0 ){
            remove_from_classlist('btn_file_', ['active']);
            remove_from_classlist('tab_file_', ['active', 'show']);
            editor_open.addClass('active'); 
            editor_open.addClass('show'); 
            $(`#btn_file_${uuid}`).addClass('active');
            return true;
        }
        return false;
    }

    function load_file(response){
        remove_from_classlist('btn_file_', ['active']);
        remove_from_classlist('tab_file_', ['active', 'show']);
        var tab_id = `tab_file_${response['file-uuid']}`;
        $('#open_files_nav').append(build_file_nav(response['file-uuid'], response['filename']));
        $('#open_files_tab').append(build_file_tab(tab_id));

        var editor = monaco.editor.create(document.getElementById(tab_id), {
            value: response['file-content'],
            fontSize: 16,
            language: response['file-type'],
            automaticLayout: true,
            theme: 'vs-dark'
        });
        $(`#${tab_id}`).data('editor', editor);
    }

    function change_directory(directory){
        ajax_call({
            'data': {'file_uuid': directory},
            url: 'change_directory',
            success: function(response){
                update_div_files(response['files']);
            },
        });
    }

    function build_file_tab(tab_id){
        return `<div class="tab-pane fade show active" id="${tab_id}" role="tabpanel" 
            aria-labelledby="${tab_id}" tabindex="0" style="height: 500px"></div>`
    }

    function build_file_nav(file_uuid, filename){
        return `
            <li class="nav-item" role="presentation">
                <div class="btn-group" id="btn_group_${file_uuid}">
                <button type="button" class="active" id="btn_file_${file_uuid}" data-bs-toggle="tab" data-bs-target="#tab_file_${file_uuid}" 
                role="tab" aria-controls="tab_file_${file_uuid}" aria-selected="false">
                    ${filename}    
                </button>
                <button type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:save_file('${file_uuid}')">Save</a></li>
                    <li><a class="dropdown-item" href="javascript:close_editor('${file_uuid}')">Close</a></li>
                </ul>
                </div>
            </li>`
    }
    
    function close_editor(uuid){
        var tab_file = $(`#tab_file_${uuid}`);
        tab_file.data('editor').dispose();

        $(`#btn_group_${uuid}`).remove();
        $(`#tab_file_${uuid}`).remove();
    }

    function loading_call(type, data){
        $('#loading_layout').removeAttr('hidden'); 
        var functions = {
            'new_file': new_file,
            'change_directory': change_directory,
            'open_file': open_file
        };
        functions[type](data);
        $('#loading_layout').attr('hidden', true); 
    }

    function new_file(data){
        var filename = $("#new_filename").val()
        if( filename == '' || filename.includes('/') ){
            alert('Invalid filename, cannot be blank or include "/"');
            return;
        }
        ajax_call({
            'url': 'new_file',
            'data': {'file_uuid': filename},
            'success': function(response){
                open_file(response['file_uuid']);
                update_div_files(response['files']);
            }
        });
    }

    function ajax_call(config){
        $.ajax({
            type: 'POST', 
            url: config['url'],
            contentType: 'application/json',
            data: JSON.stringify(config['data']),
            success: config['success'],
            statusCode: {
                403: session_expired 
            },
        });
    }

    function save_file(uuid){
        var tab_file = $(`#tab_file_${uuid}`);
        file_content = tab_file.data('editor').getValue();
        ajax_call({
            'url': 'save_file',
            'data': {'file_uuid': uuid, 'file_content': file_content},
            'success': function(response){
                alert(response['message']);
            }
        });
    }

</script>
{% endblock scripts %}

