{% extends "base.html" %}

{% block header %}

    <script>
        var require = { paths: { vs: '/static/node_modules/monaco-editor/min/vs' } };
    </script>

    <link rel="stylesheet" href="/static/node_modules/monaco-editor/min/vs/editor/editor.main.css">
    <script src="/static/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/static/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="/static/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>

    <script src="/static/routines.js"></script>
{% endblock header%}

{% block content %}

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="directory" width="16" height="16">
        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
      </symbol>
      <symbol id="file" width="16" height="16">
        <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
      </symbol>
    </svg>


    <nav class="navbar bg-dark border-bottom border-bottom-dark fix-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">Red Ssh</a>
                
            <form class="d-flex" action="/logout" method="post" >
                <button class="btn btn-outline-success" type="submit" name="logout">Logout</button>
            </form>
        </div>
    </nav>

    <div class="row">
        <!-- add it latter border-right border -->
        <div class="sidebar col-md-1 navbar-nav-scroll bg-body-tertiary" id="div_files">
            <ul class="nav flex-column" id="ul_files"></ul>
        </div>


        <div class="col-md-11" id="tabs_div">
            <ul class="nav nav-tabs" id="open_files_nav" role="tablist"></ul>
            <div class="tab-content" id="open_files_tab"></div>
        </div> 
    </div>
    </div>

    <nav class="navbar bg-dark border-bottom border-bottom-dark fixed-bottom" data-bs-theme="dark">
        <div class="container-fluid">
            <h6 class="navbar-text">Connected to {{host}} as {{user}}.</h6>
        </div>
    </nav>

{% endblock content %}


{% block scripts %}
<script> 
    $(document).ready(function(){
        var files = []; 
        {% for pair in files %} 
            files.push({
                name: '{{pair.name}}', 
                type: '{{pair.type}}',
                uuid: '{{pair.uuid}}'
            });
        {% endfor %}
        update_div_files(files);
    });

    function update_div_files(files){
        var new_content = '';
        /*file is a tuple with [name, type]*/
        files.forEach((file) => {
            if( file['type'] == 'directory' ){
                new_content += `<li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 icon-link icon-link-hover" href="javascript:change_directory('${file['uuid']}')">
                    <svg class="bi" width="16" height="16"><use xlink:href="#directory"/></svg>
                    ${file['name']}
                    </a>
                    </li>`;
            }else{
                new_content += `<li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 icon-link icon-link-hover link-secondary" href="javascript:open_file('${file['uuid']}')"> 
                    <svg class="bi" width="16" height="16"><use xlink:href="#file"/></svg>
                    ${file['name']}
                    </a>
                    </li>`;
            }
        });
        $('#ul_files').html(new_content);
    }

    function open_file(uuid){
        var e = $(`#tab_file_${uuid}`)
        console.log(e);
        if( e.length > 0 ){
            remove_from_classlist('btn_file_', ['active']);
            remove_from_classlist('tab_file_', ['active', 'show']);
            e.addClass('active'); 
            e.addClass('show'); 
            $(`#btn_file_${uuid}`).addClass('active');
            
            return;
        }
        /*TODO: This field is no longer filename, it is now uuid */
        var data = {'filename': uuid};
        $.ajax({
            type: 'POST', 
            contentType: 'application/json',
            data: JSON.stringify(data),
            url: 'open_file',
            success: load_file,
        });
    }

    function load_file(response){
        remove_from_classlist('btn_file_', ['active']);
        remove_from_classlist('tab_file_', ['active', 'show']);
        var tab_id = `tab_file_${response['file-uuid']}`;
        $('#open_files_nav').append(build_file_nav(response['file-uuid'], response['filename']));
        $('#open_files_tab').append(build_file_tab(tab_id));

        var editor = monaco.editor.create(document.getElementById(tab_id), {
            value: response['file-content'],
            fontSize: 16,
            language: response['file-type'],
            automaticLayout: true,
            theme: 'vs-dark'
        });
    }

    function change_directory(directory){
        var data = {'filename': directory};
        $.ajax({
            type: 'POST', 
            contentType: 'application/json',
            data: JSON.stringify(data),
            url: 'change_directory',
            success: function(response){
                update_div_files(response['files']);
            },
        });
    }

    function build_file_tab(tab_id){
        return `<div class="tab-pane fade show active" id="${tab_id}" role="tabpanel" aria-labelledby="${tab_id}" tabindex="0" style="height: 500px"></div>`
    }

    function build_file_nav(file_uuid, filename){
        return `
            <li class="nav-item" role="presentation">
            <div class="nav-link active" id="btn_file_${file_uuid}" data-bs-toggle="tab" data-bs-target="#tab_file_${file_uuid}" type="button" role="tab" aria-controls="tab_file_${file_uuid}" aria-selected="false">

            <div class="row">
            <div class="col-sm-9 overflow-hidden gx-7">
            ${filename}
            </div>
            <div class="col-sm-3 gx-7 d-flex flex-row-reverse" style="">
            <button type="button" class="btn p-0" aria-label="Close">X</button>
            </div>
            </div>

            </div>
            </li>`
    }

</script>
{% endblock scripts %}

