{% extends "base.html" %}

{% block header %}
    <link href="/static/sign-in.css" rel="stylesheet">
{% endblock header %}

{% block content %}
<body class="d-flex align-items-center py-4 bg-body-tertiary"> 

    <main class="form-signin w-100 m-auto">

        <h3 class="h3 mb-3">Welcome to Red</h3>

        <form action="/red" method="post">
            <h1 class="h3 mb-3 fw-normal align-items-center">Enter your credentials</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="host" name="host" placeholder="Hostname">
                <label for="floatingInput">Host</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="user" name="user" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

            {% if "login" in errors %}
            <div class="alert alert-danger" role="alert" style="margin-top: 0.5rem !important">
                Could not sign in with the given data.
            </div>
            {% endif %}

        </form>
    </main>
</body>
{% endblock content %}

{% block scripts %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock scripts %}
